*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins';

}

body{
    background-image: linear-gradient(124deg, rgb(1, 22, 5), rgb(2, 41, 40) );
    color:rgb(255, 255, 255);
    font-family:'poppins';
    min-height:  100vh;
    overflow: hidden;
}

.particles {
    width: 5px;
    height: 5px;
    z-index: -1;
    background: rgb(54, 191, 158);
    border-radius: 50%;
    box-shadow:
      0 0 4px #4cc4c8,
      0 0 8px rgb(142, 251, 233);
    position: absolute;
    top: -10vh;
    opacity: .6;
  }

header{
    font-size: 1.4rem;
    
    
}
header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form input, 
form button{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: rgb(255, 255, 255);
}
form input[type=text]:focus{
    outline-style:initial;
    color:#285031;
}
form button{
    color: rgb(122, 227, 187);
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    color: white;
    background-color: rgb(122, 227,187);
}
.todo-container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    list-style: none;
    min-width: 20%;
}

.todo{
    margin: 0.5rem;
    background: white;
    color:#285031;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: centre;
    transition: all 1s ease;
}

.todo li{
    flex:1;
    padding-top: 1mm;
}

.check-button,
.delete-button{
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;
}
.delete-button {
    background-color: rgb(202, 83, 141);
}
.delete-button:hover{
      background: rgb(248,152,170);

  }
.check-button{
    background:#28504a;
}
.check-button:hover{
    background-color: #64a281;
}
.fa-trash,
.fa-check{
    pointer-events: none;
}
.todo-item {
    padding: 0rem 0.5rem;
  }
.completed{
    text-decoration: line-through;
    opacity: .4;
}
.fall{
    transform: translateY(9rem) rotateZ(20deg);
    opacity: 0;
}


select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;

}
select{
    color:#285031;
    width: 9rem;
    cursor: pointer;
    padding: .5rem;
}
.select:after{
    content: '\25BC';
    position: absolute;
    background:rgb(122, 227,187);
    top: 0;
    right: 0;
    padding: .5rem;
    pointer-events: none;
    transition: all 0.3 ease;

}

.select:hover::after{
    background: white;
    color: rgb(122, 227,187);



}